<div class="bs-docs-header" id="content">
    <div class="container">
        <h1>{{ page.title }} {% if page.tagline %}<small>{{page.tagline}}</small>{% endif %}</h1>
    </div>
</div>

<div class="container bs-docs-container">

    <div class="row">
        <div class="col-md-9 bs-docs-content" role="main">
            {{ content }}
        </div>
        <div class="col-md-3">
            <div class="bs-docs-sidebar hidden-print" role="complementary">
                <a class="back-to-top" href="#top">
                    Back to top
                </a>
            </div>
        </div>
    </div>

</div>